@import url(fonts.css);
body {
    /* font-size: 14px; */
    font-size: 1rem;
    font-family: "Yekan", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    /* color: #5a5a5a; */
    /* background: #fff; */
}

.home-page-bg {
    background: url("../img/landscape.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}

input {
    font-size: 1rem;
    font-family: "Yekan", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.modal {
    color: black;
    direction: ltr;
}

.modal form {
    direction: rtl;
}

#divBase {
    margin-top: 70px;
}