@font-face {
    font-family: 'Sahel';
    src: url('./fonts/Sahel.woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Sahel';
    src: url('./fonts/Sahel.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sahel';
    src: url('./fonts/Sahel.woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Yekan';
    src: url('./fonts/Yekan.ttf');
    font-weight: 300;
    font-style: normal;
}
