@import url(fonts.css);
body {
    /* font-size: 14px; */
    font-size: 1rem;
    font-family: "Yekan", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    /* color: #5a5a5a; */
    /* background: #fff; */
}

input {
    font-size: 1rem;
    font-family: "Yekan", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

#divBase {
    margin-top: 20px;
}