{% extends "Accounting/base.html" %}
{% block title %}
  درباره حساب کتاب
{% endblock title %}
{% block content %}
<h2>راه‌کارهایی به منظور ایجاد حس مالکیت نسبت به کار و محیط آن در کارکنان</h2>
    <div>
      <p>ایجاد حس مسئولیت‌پذیری در میان افراد و اضافه کردن آن به فرهنگ کاری یک مجموعه، فعالیتی است که می‌باید توسط لیدر (رهبر) در آن محیط ساخته شود و لازم به یادآوری است که این هدف هرگز به واسطه شیوه‌های مبتنی بر تحکم مطلق و یا ترفندهای سنتی مدیریتی تحقق نخواهد یافت! در این پست، به بررسی دیدگاه Martin Zwilling یک از فعالان اکوسیستم استارتاپی ایالات متحدهٔ آمریکا در ارتباط با موضوع «تفکر مالکیت» و برقراری آن در میان کارمندان یک #کسب‌و‌کار می‌پردازیم.</p>
      <p>یکی از درس‌هایی که Martin Zwilling به‌ عنوان مدیر اجرایی و مربی کارآفرینی آموخته‌، این است که اگر واقعاً به دنبال کارکنانی هستید که با اشتیاق کامل کارهای خود را انجام ‌دهند، باید با آن‌ها همانند مالکان آن بیزینس رفتار کنید؛ نَه فردی که به صورت موقت یا پاره‌وقت برایتان مشغول به کار شده است. در ادبیات عامیانه، یک فرد مالک خود را درون بازی حس می‌کند و برای افزایش سود و کسب نتیجهٔ بهتر، همواره تلاش می‌کند و تنها مشکلات و نکات منفی را در نظر نمی‌گیرد.</p>
      <p>مطابق گزارش مؤسسهٔ تحقیقاتی Gallup از بررسی شرایط کار در محیط‌های کار آمریکایی، تنها یک‌ سوم از کارکنان با توجه به موارد گفته شده احساس مالکیت را در خود دارند و در حدود 50% دیگر تنها به صورت فیزیکی در محل کار حضور پیدا کرده و عملاً از نظر ذهنی، تعلقی به محیط کاری خود ندارند (همچنین پیش از این در مقاله‌ای تحت عنوان آیا می‌دانستید که ۵۰٪ کارمندان مدیرشان را ترک می‌کنند نه شرکت‌شان را؟ به بررسی یکی دیگر از تحقیقات مؤسسهٔ Gallup پرداختم که در آن آمده بود چیزی بیش از ۵۰٪ کارکنان به دلیل بروز مشکلات با مدیرشان شرکت خود را ترک می‌کنند).</p>
    </div>
{% endblock content %}