<!doctype html>
<html lang="en" dir="rtl">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>حساب کتاب نسخه آزمایشی</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'Accounting/css/bootstrap.css'%}">

    <!-- Custom styles for this template -->
    <link href="{% static 'Accounting/css/style.css'%}" rel="stylesheet">
</head>

<body class="home-page-bg">
    {% include "Accounting/nav.html" %}
    <div id="divBase" class="container">
        {% block content %}{% endblock %}
    </div>
    {% include "Accounting/footer.html" %}

    <script src="{% static 'Accounting/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'Accounting/js/popper.min.js' %}"></script>
    <script src="{% static 'Accounting/js/bootstrap.min.js' %}"></script>

</body>

</html>