{% extends "Accounting/base.html" %}
{% load i18n %}
{% block title %}ورود به سیستم{% endblock %}
{% block content %}
{% if errors %}
    <p class="alert alert-danger" role="alert">کلمه عبور یا نام کاربری اشتباه است. دوباره سعی کنید.</p>
    {% for error,desc in form.errors.items %}
        <div class="alert alert-danger">
            {{ error }} : {{ desc }}
        </div>
    {% endfor %}
{% endif %}
{% if next %}
    <p class="alert alert-warning" role="alert">برای دسترسی به این قسمت باید وارد سیستم شوید</p>
{% endif %}
<div>
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <form class="form-signin" method="POST" action="{% url 'signin' %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <div class="form-group">
                    <label for="{{form.username.if_for_lable}}">نام کاربری:</label>
                    {{ form.username }}
                </div>
                <div class="form-group">
                    <label for="{{form.password.if_for_lable}}">کلمه عبور:</label>
                    {{ form.password }}
                </div>
                <button class="btn btn-success" type="submit">ورود</button>
                <a href="{% url 'signup' %}" class="btn btn-primary" type="submit">ثبت نام</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}