<!doctype html>
<html lang="en" dir="rtl">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        {% block title %} حساب کتاب نسخه آزمایشی {% endblock title %}
    </title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'Accounting/css/bootstrap.css'%}">

    <!-- Custom styles for this template -->
    <link href="{% static 'Accounting/css/admin-grid-syle.css'%}" rel="stylesheet">
    <link href="{% static 'Accounting/css/persian-datepicker.css'%}" rel="stylesheet">
    <link href="{% static 'Accounting/css/font-awesome.css'%}" rel="stylesheet">
</head>

<body>
    <div class="grid-container">
        {% include "Accounting/dashboard/header.html" %}
        {% include "Accounting/dashboard/sidebar.html" %}
        <main class="main">
            {% block content %}{% endblock %}
        </main>
        {% include "Accounting/dashboard/footer.html" %}
    </div>

    <script src="{% static 'Accounting/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'Accounting/js/popper.min.js' %}"></script>
    <script src="{% static 'Accounting/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Accounting/js/persian-date.js' %}"></script>
    <script src="{% static 'Accounting/js/persian-datepicker.js' %}"></script>
    <script src="{% static 'Accounting/js/chart.min.js' %}"></script>
    <script src="{% static 'Accounting/js/sidebar.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".datepicker").pDatepicker({
                initialValueType: 'persian',
                initialValue: false,
                format: 'YYYY-M-D'
            });
        });
    </script>
    {% block jsblock %}{% endblock jsblock %}
</body>

</html>