<!doctype html>
<html lang="en" dir="rtl">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        {% block title %} حساب کتاب نسخه آزمایشی {% endblock title %}
    </title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'Accounting/css/bootstrap.css'%}">

    <!-- Custom styles for this template -->
    <link href="{% static 'Accounting/css/admin-style.css'%}" rel="stylesheet">
    <link href="{% static 'Accounting/css/persian-datepicker.css'%}" rel="stylesheet">
    <link href="{% static 'Accounting/css/font-awesome.css'%}" rel="stylesheet">
</head>

<body>
    {% include "Accounting/dashboard/nav.html" %}
    <div id="divBase" class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                &nbsp
                {% include "Accounting/dashboard/sidebar.html" %}
            </div>
            <div class="col-md-9">
                <br/>
                <div class="admin-panel">
                    <div class="admin-panel-header">{% block content-header %}
                    {% endblock content-header %}</div>
                {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        
    </div>
    {% include "Accounting/dashboard/footer.html" %}

    <script src="{% static 'Accounting/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'Accounting/js/popper.min.js' %}"></script>
    <script src="{% static 'Accounting/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Accounting/js/persian-date.js' %}"></script>
    <script src="{% static 'Accounting/js/persian-datepicker.js' %}"></script>
    <script src="{% static 'Accounting/js/chart.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".datepicker").pDatepicker({
                initialValueType: 'persian',
                initialValue: false,
                format: 'YYYY-M-D'
            });
        });
    </script>
    {% block jsblock %}{% endblock jsblock %}
</body>

</html>