{% extends "Accounting/dashboard/base.html" %} 
{% load static %} 
{% load humanize %}
{% block title %} پنل مدیریتی {% endblock title %} 
{% block content-header %}
    <i class="fas fa-tools"></i>
    صفحه اصلی داشبورد
{% endblock content-header %}
{% block content %}
<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
        {% include 'Accounting/dashboard/components/infobox.html' with text='درآمد' number=income|intcomma icon='fab fa-500px' bgcolor='bg-purple' %}
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        {% include 'Accounting/dashboard/components/infobox.html' with text='هزینه' number=outcome|intcomma icon='fab fa-amazon' bgcolor='bg-green' %}
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        {% include 'Accounting/dashboard/components/infobox.html' with text='تراز' number=balance|intcomma icon='fab fa-adn' bgcolor='bg-orange' %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            {% for group, value in group_summary.items %}
                {% if value %}
                    <div class="col-md-3 box light-color text-center {% cycle 'bg-green' 'bg-blue' 'bg-purple' 'bg-orange'%}">
                        <div>گروه {{group}}</div>
                        <hr class='light-color'>
                        <div>{{value}} تومان</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <canvas id="myChart"></canvas>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {% for tag, value in tag_summary.items %}
            {% if value %}
                <h5>
                <a href="{% url 'dashboard_tags' %}" class="badge {% cycle 'badge-primary' 'badge-success' 'badge-warning' 'badge-dark' 'badge-info' %}">
                    {{tag}} <span class="badge badge-light">{{value}}</span>
                </a>
                </h5>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}
{% block jsblock %}
<script type="text/javascript">
    var ctx = document.getElementById("myChart").getContext('2d');
    var chart_labels = [];
    {% for month in month_names %}
        chart_labels.push("{{month}}");
    {% endfor %}
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: chart_labels ,
            datasets: [{
                label: 'هزینه',
                data: {{ chart1 }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            },{
                label: 'درآمد',
                data: {{ chart2 }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
</script>
{% endblock jsblock %}
