<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'dashboard'%}">داشبورد</a></li>
            <li class="list-group-item"><a href="{% url 'dashboard_items'%}">دخل و خرج</a></li>
            <li class="list-group-item"><a href="{% url 'dashboard_groups'%}">دسته بندی</a></li>
            <li class="list-group-item"><a href="{% url 'dashboard_tags'%}">مدیریت تگ‌ها</a></li>
            <li class="list-group-item"><a href="{% url 'dashboard_import_csv'%}">ورود از فایل</a></li>
        </ul>    
    </div>
</div>
