{% extends "Accounting/dashboard/base.html" %} 
{% block title %} پنل مدیریتی {% endblock title %} 
{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form action="" method="POST">
            {% csrf_token %}
            <table>
            <div class="form-group">
                <label for="{{form.name.id_for_label}}">نام گروه:</label>
                {{form.name}}
            </div>
            </table>
            <button type="submit" class="btn btn-success mt-2">ویرایش</button>
            <a href="{% url 'dashboard_groups' %}" class="btn btn-primary mt-2">بازگشت</a>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock content%}