{% extends "Accounting/dashboard/base.html" %} 
{% block title %} پنل مدیریتی {% endblock title %} 
{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form action="" method="POST">
            {% csrf_token %} 
            <p>آیا  {{object}} حذف شود؟</p>
            <button type="submit" class="btn btn-danger mt-2">حذف</button>
            <a href="{% url 'dashboard_items' %}" class="btn btn-primary mt-2">خیر</a>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock content%}