{% extends "Accounting/dashboard/base.html" %} 
{% load static %} 
{% load humanize %}
{% load jformat %}
{% load render_table from django_tables2 %}
{% block title %} پنل مدیریتی {% endblock title %} 
{% block content-header %}
<div class="row pb-2">
    <div class="col-md-6">
        لیست دخل و خرج‌ها
    </div>
    <div class="col-md-6 text-right">
        <a href="{% url 'dashboard_items_new' %}" class="btn btn-outline-primary btn-sm" >جدید</a>
        <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-primary btn-sm" >فیلتر</button>
    </div>
</div>
{% endblock content-header %}
{% block content %}

<br/>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-primary" role="alert">
            تعداد موارد پیدا شده: {{ filter.qs.count }} از {{ filter.queryset.count }}    
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-md-12 text-right">
        
    </div>
</div> -->
&nbsp
{% if table %}
    <div class="row">
        <div class="col-md-12">
            {% render_table table %}
        </div>
    </div>
{% endif %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="filterModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filterModal">فیلتر موارد</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <form method='GET'>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>نام:</label>
                                {{ filter.form.name }}
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>مقدار از:</label>
                                    {{ filter.form.price_gte }}
                                </div>
                                <div class="col-md-6">
                                <label>مقدار تا:</label>
                                {{ filter.form.price_lte }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>تاریخ از:</label>
                                    {{ filter.form.date_gte }}
                                </div>
                                <div class="col-md-6">
                                    <label>تاریخ تا:</label>
                                    {{ filter.form.date_lte }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>دسته‌بندی:</label>
                                    {{ filter.form.group }}
                                </div>
                                <div class="col-md-6">
                                    <label>نوع:</label>
                                    {{ filter.form.item_type }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>تگ‌ها:</label>
                                    {{ filter.form.tags }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-success mt-2">اعمال فیلتر</button>
                        <a href='{{ request.path }}' class="btn btn-outline-primary mt-2">حذف فیلتر</a>
                    </div>
                </form>
            </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
{% endblock content %}
