{% extends "Accounting/dashboard/base.html" %} 
{% block title %} پنل مدیریتی {% endblock title %} 
{% block content %}
<h2>ایجاد تگ جدید</h2>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form action="{% url 'dashboard_tags_new' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{form.name.id_for_label}}">نام تگ:</label>
                {{form.name}}
            </div>
            <button type="submit" class="btn btn-primary mt-2">ایجاد</button>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock content%}